html,body {height: 100%;background: #f0f3fa;position: relative;}
/*头*/
#header_m {height:8%;width: 100%;background-color: #303848;position: relative;}
#header_m  .logo { height: 100%;width: 200px;background: #1f2738;position: relative}
#header_m  .logo .admin-logo { position: absolute;left:50%;top:50%;display: block;height: 23px;width: 145px;margin-top:-11.5px;margin-left: -72.5px;}
#header_m  .author { position: absolute;top:50%;color:#fff;right: 34px;height: 44px; margin-top: -22px;}
#header_m  .author span {margin-right: 11px;font-size: 16px;}
#header_m  .author  .u_role {font-size: 18px;}
#header_m  .author img { width: 44px;height: 44px;border-radius:50%;}
#header_m  .author  .outBtn {margin-left:30px;}
#header_m  .author  a { color:#fff; }

/*布局*/
.mianWrap {position:relative;height: 92%;}
.article_nav {  width: 200px; height: 100%;position: absolute;top:0;overflow: hidden;}
#content {position: absolute;left: 200px;right: 10px;top:0;bottom:2px;overflow:hidden;visibility:hidden;background-color:#f7f7f7;}

/*左边nav*/
.article_nav ul {margin-bottom: 4px;display: none;}
.article_nav li a { display: block;height: 36px;line-height: 36px;font-size: 16px;cursor: pointer;}
.article_nav li a:hover {text-decoration: none;}
.article_nav .title { color: #989ca4; font-size: 17px;cursor: pointer;height: 52px; line-height: 52px; padding-left:18px;}
.article_nav .title i {margin:0 15px;}
.article_nav .model.active ul { display: block; }
.article_nav .model.open ul{ display: block; }
.article_nav li{margin-bottom: 8px;}
.article_nav li a {  color: #989ca4;display: block;height: 45px;line-height: 45px;padding-left: 76px;}
.article_nav li.active a { background:#20b681; color:#fff; }
.article_nav .head { color:#fff;font-size: 18px;margin-bottom: 20px; }
.nav_content.nav_fixed { position: fixed;left:15px;top:15px; }
.nav_content {  background: #303848;padding: 10px 0;height:100%;width: 200px;overflow:hidden;color:#989ca4;}
.nav_content .inner {margin-bottom: 60px;visibility:hidden;}

/*中间正文*/
#content .content_main {background-color:#f7f7f7;padding:25px 25px 25px 30px; }
/*tab1*/
#content  .content_tab a {float: left; font-size: 16px;}
#content  .content_nav { margin: 0 40px;height: 64px;padding-top: 30px;}
#content  .content_nav a {margin-right: 40px;}
#content  .content_nav a.active {  color:#20b681;}

#upload { padding-top: 20px; }
#upload .formleft, #upload .formright { width: 45%;float: left;} 
#upload .item {  float: left;font-size: 15px;margin-bottom: 18px;position: relative; width: 100%;}
#upload .item .dt {text-align: right;position: absolute;left:0;top:0;bottom: 0;width: 120px;margin-right: 10px;font-size: 15px;padding-top: 6px;padding-left: 0px; }
#upload .item .dd { float: left;width:70%; padding-left: 130px;}
#upload .uediter,  #upload .from_dailog{position: absolute;width: 100%;left:0;top:0;right: 0;z-index: 3;cursor: pointer;padding-left: 10px;bottom: 0;}
#upload .from_dailog {height: 38px;line-height: 38px;overflow: hidden;}
#upload .uediter {bottom: 0;}



                   

           





/*步骤*/
.step {
           width: 786px;
           margin: 15px auto 50px auto;
         }
         .step > div{ float: left; }
         .step > div > span {float: left;}
         .step .num { 
            width: 38px;
            height:38px;
            border-radius: 50%;
            text-align: center; 
            margin-right: 10px;
            border:1px solid #ddd;
            line-height: 38px;
            color:#d6d6d6;
        }
        .step .stepBorder { 
           width: 200px;
           height: 2px;
           background: #eaeaea; 
           margin: 0 15px;
          margin-top: 18px;
          }
          .setpName {
              margin-top: 10px;
              color: #999;
          }
          .step > div.active  .num{ 
               background: #4aaaee;
               color:#fff;
               border-color: #4aaaee;
           }
           .step > div.active .setpName{
               color:#1a1a1a;

           }
           .step > div.active .stepBorder {
               background: #4aaaee;
           }

.pannel {
    border:1px solid #ddd;
    margin-bottom: 15px;
}

.pannel .body{
   padding: 15px;
}

.pannel .head {
    background: #fafafa;
    height: 42px;
    line-height: 42px;
    padding-left: 15px;
}
.pannel .head  > div{
   display: inline-block;
   cursor: pointer;
}
.pannel .head  > span, .pannel .head .tab_item {
   display: inline-block;
   height: 100%;
   line-height: 42px;
   margin-right: 20px;
   
}
.pannel .head .tab_item {
   cursor: move;
}
.pannel .head .item { 
    float: left;
}

 .pannel .btn-wrap {
   padding-right: 15px;
}
.pannel .btn-wrap > span{
   margin-left: 20px;
}
.pannel .btn-wrap > span:hover {
    color:#4aaaee;
}
.pannel .body .tab_box > span {margin-right: 28px;cursor: pointer;  }
.pannel .body .tab_box > span.active { color:#4aaaee; }


.pannel .skin_item {
   width: 112px;
   float: left;
   margin-right: 20px;
   position: relative;
   cursor: pointer;
  
}

.pannel .skin_item i {
    position: absolute;
    color: #1E9FFF;
    right: 11px;
    bottom:37px;   
    font-size: 18px; 
    margin: 0;
    display: none;
}
.pannel .skin_item.active i { 
   display: block;
  }


.pannel .skin_item .imgWrap{
   width: 112px;
   height: 76px;
   background: url("../img/skin_1.png") no-repeat;
}

.pannel .skin_item .imgWrap.green {
   background-position: -112px 0;
}
.pannel .skin_item .imgWrap.blue {
   background-position: -224px 0;
}



.pannel .skin_item_app {
     float: left;
     width: 47px;
     margin-right: 30px;
     position: relative;
     cursor: pointer;
}
.pannel .skin_item_app i {
    position: absolute;
    color: #1E9FFF;
    right: 5px;
    bottom:40px;
    display: none;
}

.pannel .skin_item_app.active i{
   display: block;
}
.pannel .skin_item_app  .imgWrap{
   width: 47px;
   height: 79px;
   background: url("../img/skin_app.png") no-repeat;
  background-position: -94px 0; 
}

/*.pannel .skin_item_app  .imgWrap.green{
  background-position: -47px 0; 
}
.pannel .skin_item_app  .imgWrap.blue{
   background-position: -94px 0; 
} */                     

.pannel .item_layout {
     float: left;
     width: 112px;
     margin-right: 40px;
     margin-bottom: 20px;
    cursor: pointer;
    position: relative;     
}


.pannel .item_layout i{
   position: absolute;
   right: 17px;
   bottom: 50px;
   color:#1E9FFF; 
   font-size: 18px;
   display: none;
}

.pannel .item_layout.active i{
  display: block;
}
.pannel .item_compent {
    height: 70px;
    float: left;
     width: 112px;
     margin: 10px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border:1px solid #ddd;
    border-radius: 10px; 
    padding-top: 10px;
    position: relative;
}
.pannel .item_compent .imgWrap input {
   width: 100%;
   position: absolute;
   bottom: 12px;
   left:6px;
   width: 100px;
}

.pannel .item_compent .imgWrap input::placeholder{
   color:#ccc;
}

.compent_title {
    margin-bottom: 10px;
    margin-top: 15px;
    color:orange;
    padding-left: 20px;
}
.pannel .item_compent .fa {
    font-size: 18px;
    position: absolute;
    right: 2px;
    top:2px;
    color:#1E9FFF;
    display: none;
}
.pannel .item_compent.active .fa{
   display: block;
}

.pannel .item_layout .imgWrap{
   width: 112px;
   height: 178px;
   background: url("../img/layout_c.png") no-repeat;
   background-size: contain;
}

.pannel .item_layout .imgWrap.layout2{
   width: 112px;
   height: 178px;
   background: url("../img/layout_c2.png") no-repeat;
   background-size: contain;
}

.pannel .item_layout .imgWrap.layout3{
   width: 112px;
   height: 178px;
   background: url("../img/layout_c3.png") no-repeat;
   background-size: contain;
}

.pannel .tab_body {
   padding-top: 15px;
}
.pannel .dis {
   padding-top: 10px;
   text-align: center;
}

.compent_model{
   width: 1068px;
}


#drapHead { float: left; }
#drapHead  a { display: block;float: left;cursor: move; margin-right: 20px;}

#lamhead a.active {
   color:#337ab7;
}


.ul_compent {
 /* width: 280px;*/


}

/*.view_box */



.bottombtn {
   width: 100%;
  text-align: center;
   padding-top: 15px;
}







/*头和尾*/
.view_box .top_box {
   width: 100%;
   overflow: hidden;
}

.dargbox_top {
   width: 100%;
   overflow: hidden;
   text-align:  center;
} 
/*.view_box .bottom {
   margin-top: 10px;
}*/

/*公共*/
.view_box {
   border:1px solid #ddd; position: relative; 
}

.view_box_wrap{
    float: left;
    width: 1000px;
}


.view_box  .fr_container {
   width: 627px;
   margin: 0 auto;
}

.view_box .dargbox img {
   cursor: move;
}

.dargbox {
   background: rgb(227, 243, 255);
   overflow: hidden;
}

/*宽度*/
.view_box .box_3 { width: 100%;}

.view_box .box_1 { width: 197px; }

.view_box .box_2 { width: 398px }


/*高度*/
.view_box  .pull-left {
   height: 233px;
}
.view_box .pull-right {
   height: 233px;
}


.view_box  .box_3_a {
   height: 134px;
}

.view_box  .box_3_h {
     height: 219px;
}

/*padding*/
.view_box  .flood_box {
   padding: 30px 0; 
}


.view_box .ss {
   padding-top: 30px;
}


/*颜色*/

.flood_box_h {
   background: #f1f1f1;
}
.flood_box_b {
   background-color:#fff;
   background-image: url("../img/files/bj.png");
   background-repeat: no-repeat;
   background-position: right bottom;
   
}


/*皮肤*/


#skin_a .ss {
    background: #f1f1f1;
}



#skin_a .bottom {
   background: #c84229;
}


#skin_a .top_top{
  position: absolute;
  top:0;
  right: 0;
  left:0;
}


#skin_a .lb {
   min-height: 47px;
   background: #0a1517;
}


#skin_b {
   background:  #f6f2ef;
}



#skin_b .top_top{
  position: absolute;
  top:0;
  right: 0;
  left:0;
}




#skin_b .lb {
   min-height: 80px;
   overflow: hidden;
}



#skin_b .flood_box_h {
   background: #f6f2ef;
}
#skin_b .flood_box_b {
   background: #f6f2ef;
   background-image: none;
}


#skin_b .ss {
    background: #f6f2ef;
   
}

#skin_b .bottom {
   background: #2c333b;
}



#skin_c .ss{
     background: #f6f2ef;
}

#skin_c {
    background: #fff;
}

#skin_c .flood_box_h {
   background: #f6f2ef;
}


#skin_c .bottom {
   background: #5ea1a9;
}


.disable {
   color:#c2c2c2 !important;
}

.comm-page {
  text-align: center;
  clear: both;
}
.comm-page div {
  width: auto;
  overflow: hidden;
  text-align: center;
}
.comm-page b {
  position: relative;
  top: 2px;
}
.comm-page a {
  color: #666;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 3px;
  border: 1px solid #d4d4d4;
  background: #fff;
  vertical-align: middle;
  border-radius: 5px;
}
.comm-page a:hover {
  text-decoration: none;
  background: #e6f4ff;
  border: 1px solid #e6f4ff;
}
.comm-page .current,
.comm-page .pagenum {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid  #5a8bff;
  background: #5a8bff;
  vertical-align: middle;
  border-radius: 5px;
  color:#fff;
}
.comm-page .pagenum {
  color: #666;
  background: #d4d4d4;
  border: 1px solid #ccc;
  font-style: normal;
  font-weight: normal;
}
.comm-page .goPageCell {
  margin:0  15px;
}
.comm-page .goPageCell {
  color: #666;
}
.comm-page .goPageCell #goBageText {
  width: 36px;
  text-align: center;
  margin: 0 10px;
}
.comm-page .goPageCell #goBageBt {
   margin-left: 10px;
   padding: 3px 6px;
   border:1px solid #d4d4d4;
   background-color: #fff;
}
.comm-page .goPageCell #goBageBt:hover {
   background-color:  #e6f4ff;
}


body .layui-layer-shade {
    z-index: 4 !important;
}